*{
	margin: 0px;
	padding: 0px;
}

body{
	background: rgb(3,0,49);
	background: linear-gradient(90deg, rgba(3,0,49,1) 0%, rgba(9,55,121,1) 52%, rgba(0,212,255,1) 100%);
}

ul{
	background-color:rgba(0, 255, 153, 0.2);
	margin-top:0px;
	
}

li{
	/* display: none; */
	display:inline;
	margin-left:290px;
	font-size:24px;
	font-family:arial black;
	color:red;
	
}

button{ 
	background-color:rgba(0, 255, 153, 0.2);
	border-radius:0px 0px 5px 5px;
	border-color: rgba(0, 255, 153, 0.0);
	color:red;
}