*{
  font-family:'Times New Roman';
}

#discription{
  color: rgb(225, 255, 0);
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

body{
  background-image: url("./bgs/Lotrbg2.jpg");

}

#ParentBox {
    display: flex;
    justify-content: center;
  }
  
.box {
    flex:0.15;
    background-size: auto;
    background-position: center;
    height:640px;
    margin: 10px;
    border-radius: 40px;
    position: relative;
  }

.box p{
  color: rgb(225, 255, 0);
  position: absolute;
  bottom:20px;
  left: 20px;
}

#box1{
    background-image: url("./bgs/bg1.png"); 
    opacity: 0.8
}
#box2{
    background-image: url("./bgs/bg2.png");
    opacity: 0.8
}
#box3{
    background-image: url("./bgs/bg3.png");
    opacity: 0.8
}