*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(32,77,118,0.8021775360534839) 48%, rgba(0,43,60,1) 99%); 
    text-align: center;
}

#flexcontainer{
    margin-top: 10vh;
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: center;
}

#root{
    background-image: url("./bg/bg1.png");
    background-size:cover;
    display: inline-block;
    width: 35%;
    height: 100%;
    border-radius: 30px;
}
button{
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
}

.circularbtn{
    margin: 5px;
    border-radius:  100px;

}

.active{
    background-color: dodgerblue;
}