*{
  margin: 0;
  padding: 0;
  color: white;
}

#flex-body{
  background: rgb(255,123,226);
  background: linear-gradient(90deg, rgba(255,123,226,1) 0%, rgba(32,77,118,0.9142223539806548) 48%, rgba(0,43,60,1) 99%);
  display: flex;
  justify-content: center;
}

.ParentBox{
  margin-top: 20vh;
  background-color: rgb(55, 55, 55);
  width: 440px;
  height: 270px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.inactive{
  display:none;
}

#addData{
  justify-content: center;
}

#showScore{
  justify-content: center; 
}
#showScore p{
  justify-content: center;
  margin-left:40% ;
}

#file-selector{
  margin-left:40% ;
}
#question{
flex-flow: row;
flex-grow: 1;
}

#Parentbox-footer{
display: flex;
justify-content: center;
align-items:flex-end;
padding: 8px;
}

#Parentbox-footer button{
  color: black;
  height: 25px;
  width:40px;
}
#prev{
  justify-self: left;
  margin-right: auto;
}

#next{
  justify-content:right;
  margin-left: auto;
}

#question input{
  display: block;
  padding-left: 5px;
}
#question label{
  display: block;
  padding-left: 5px;
}