*{
	margin: 0px;
	padding: 0px;
}

body{
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,100,83,1) 100%);
	text-align: center;
}

#main{
	background: rgba(0,22,100,0.5);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-top: 50px;
	display: inlnie-block;
	background-color: #262626;
	width: 300px;
	border-radius: 20px;
}

.task{
	color: white;
	padding: 5px;
}
.DelButton{
	background-color: #262626;
	border:none;
}